body{
  background-color: #DADADA;  
}
img{
  width:1100px;
  border-style: double;
  border-color: #000000;
  border-width: 8px;
}
ul{
  list-style-type: none;
  text-align: center;
  
}
li{
  float: left;
}
li a{
  padding: 30px;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none;
  border: none
}
li a:hover{
  background-color: black;
  color: white;
}
h1{
  font-size: 150%;
  font-family: "Monaco", Monospace;
  float: left;
   margin-left:760px;
  margin-right: auto;

}
h2{
  font-size: 150%;
  font-family: "Monaco", Monospace;
  float: left;
  margin-left: auto;
  margin-right: 700px;

}

h3{
  margin-top: 50px;
  font-size: 150%;
  font-family: "Monaco", Monospace;
   float: left;
   margin-left:760px;
  margin-right: auto;

  
}
h4{
  font-size: 150%;
  font-family: "Monaco", Monospace;
  float: center;
  float: left;
  margin-left: auto;
  margin-right: 700px;
}
h5{
  font-size: 400%;
  color: white;
  font-style: ;
  text-shadow: 5px 5px 7px #40798C;
  letter-spacing: 4px;
  margin-top: 85px;
  margin-bottom: 50px;
  font-family: "Monaco", Monospace;
  text-align: center;
}
